@import "hcdisplay/assets/css/general";
@import "hcdisplay/assets/css/plugins/owl.carousel.min.css";
@import "hcdisplay/assets/css/plugins/magnific-popup.css";
@import "hcdisplay/assets/css/flaticon.css";
@import "hcdisplay/assets/css/reset";

@import "hcdisplay/assets/css/home-version";
@import "hcdisplay/assets/css/page";
@import "hcdisplay/assets/css/style";
@import "hcdisplay/assets/css/responsive.css";
@import "../../../assets/sass/variables";
@import "../../../assets/sass/frontend/category";
@import "../../../assets/sass/frontend/catalog";
@import "../../../assets/sass/frontend/checkout";

.logo-area {
  padding: 0;
  img{
    max-width: 200px;
  }
}

.tab-content .list-group{
  margin:2em 0;
}

#product-description-tab-content{
  margin:2em 0;
}

.sidebar-body .media img{
  width: 76px;
  height: 76px;
}

.categoryfillter ul li {
  border-bottom: none;
}
.categoryfillter span {
    border-bottom: none;
    padding: 0;
}

.categoryfillter {
  margin-top: 2em;
}

.news-thum{
  border-radius: 0;
  height:18em;
}

.single-widget, .single-news-content {
  margin-bottom: 2em;
}

.blog-desc{
  max-height: 5em;
  overflow: hidden;
}